* {
    margin: 0;
    font-family: 'Arial', sans-serif;
}

body {
    overflow-x: hidden;
    background-color: #f4f4f4;
    min-height: 100vh; /* Isso garante que o conteúdo ocupe toda a altura da tela */
    display: flex;
    flex-direction: column;
}
/*header e nav*/

header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0px 10px 0px;
    background-color: #333;
    width: 100%;
    height: auto;
}


header > img {
    width: 40px;
    margin-right: 12px;
    border-radius: 50%;
    border: 0.8px solid white;
    filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.623));
}

header > h1 {
    color: white;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.466);
}

nav {
    display: flex;
    justify-content: center;
    background-color: #444;
    width: 100%;
    height: auto;
}

nav > a {
    transition: 0.3s;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.719);
    padding: 5px;
    text-decoration: none;
    margin: 5px 14px;
    font-size: 1em;
    color: white;
}

nav > a:hover {
    transform: scale(1.1);
    color: #f4f4f4; 
}

/*Sobre mim*/

section {
    padding: 15px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.096);
}

section#sobre_mim > h1 {
    margin: 20px 0px;
}

section#sobre_mim > p {
    margin: 10px 0px;
}

span {
    text-decoration: underline;
}

/*formacao*/
section#formacao{
    text-align: center;
    padding-bottom: 30px;
}

section#formacao > div {
    
    border-radius: 10px;
    padding: 20px 0px;
    background-color: #ececec;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.096);
}

section#formacao > h1 {
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.164);
    margin-bottom: 15px;
}

section#formacao > div > p {
    margin: 15px 0px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.329);
}

#img_formacao {
    position: relative;
    bottom:-6px;
}

progress {
    height: 30px;
}

/*footer*/
footer {
    padding: 15px 0px 25px 0px;
    text-align: center;
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    color: white;
    background-color: #333;
}

div {
    margin: 0px 0px 25px 0px;
}

div > a {
    transition: 0.3s;
    color: white;
}

div > a:hover {
    color: #94c8ff;
}

div > img {
    position: relative;
    bottom: -3px;
}

#download-btn {
    background-color: #007BFF;
    color: white;
    padding: 8px 20px;
    border-radius: 5px;
    text-decoration: none;
}

#download-btn:hover {
    background-color: #0056b3;
}

/*Celular*/
@media(min-width:320px) and (max-width:500px) {
    section {
        margin: 20px auto 20px auto;
        width: 86%;
    }
    section#sobre_mim > h1 {
        font-size: 1.3em;
    }
    
    section#sobre_mim > p {
        font-size: 0.8em;
    }
    section#formacao > div {
        width: 310px;
        margin: auto;
    }
}

/*Tablet*/
@media(min-width:501px) and (max-width:767px) {
    section {
        margin: 25px auto 25px auto;
        width: 86%;
    }
    section#sobre_mim > h1 {
        font-size: 1.4em;
    }
    
    section#sobre_mim > p {
        font-size: 0.9em;
    }
    section#formacao > div {
        width: 400px;
        margin: auto;
    }
}

/*Desktop menor*/
@media(min-width:767px) and (max-width:1440px) {
    section {
        margin: 35px auto 35px auto;
        width: 70%;
    }
    section#sobre_mim > h1 {
        font-size: 1.5em;
    }
    
    section#sobre_mim > p {
        font-size: 1em;
    }
    section#formacao > div {
        width: 460px;
        margin: auto;
    }
}


/*Desktop maior*/
@media(min-width:1441px){
    section {
        margin: 40px auto 40px auto;
        width: 60%;
    }
    section#sobre_mim > h1 {
        font-size: 1.6em;
    }
    
    section#sobre_mim > p {
        font-size: 1.1em;
    }
    section#formacao > div {
        width: 470px;
        margin: auto;
    }
}