
body {
    background-color: grey;
}
.ft {
    text-align: center;
}
hr {
    border-color: black;
}
h1 {
    font-size: 20pt;
    text-align: center;
    color: cornflowerblue;
    -webkit-text-stroke-color: rgb(0, 0, 0);
    -webkit-text-stroke-width: 1px;
}
h2 {
    text-align: center;
    color: cornflowerblue;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 1px;
}
a:hover {
    opacity: 0.6;
}