body {
    background-image: linear-gradient(to left,#27304e,#121D40);
    font-size: 20pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1.nome {
    color: rgb(110, 216, 181);
    text-shadow: 3px 3px 3px rgb(64, 124, 104);
    text-align: center;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

h2.habilidade {
    font-size: 24pt;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: cornflowerblue;
    text-align: center;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: rgb(0, 255, 242);

}

ul.habilidade {
    font-size: 14pt;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: cornflowerblue;
    border: dotted whitesmoke;
    border-radius: 10px;
    margin: 0px 8px 8px 8px;
}

ul.contato {
    font-size: 20pt;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: cornflowerblue;
}

h2.contato {
    color: cornflowerblue;
    text-align: center;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: rgb(0, 255, 242);
}

.contatos {
    width: 380px;
    margin: auto;
    border: double white;
    border-radius: 40px;
    box-shadow: 5px 5px 3px #53649b;
    background: transparent;
}

.formacao {
    background-color: rgb(146, 153, 175);
    width: 360px;
    margin: auto;
    text-align: center;
    padding: 12px;
    border: outset white;
    border-radius: 40px;
    box-shadow: 7px 7px 1px #242731;
}
#titulo_formacao {
    font-size: 22pt;
    color: black;
    text-shadow: 1px 1px 0px rgb(255, 225, 0);
    transition: 1s;
}
#escola {
    position: relative;
    bottom: -4px;
}
.divisao_formacao {
    margin: auto;
    width: 167px;
    background-color: rgb(175, 214, 225);
    margin-bottom: 30px;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 3px 3px 3px rgb(96, 100, 114);
    transition: 1s;
}
.divisao_formacao p {
    font-size: 12pt;
    text-shadow: 1px 1px 0px aliceblue;
}

.habilidades {
    margin: auto;
    width: 380px;
    background-color: #3f465e;
    padding: 5px 2px 5px 5px;
    border: solid rgb(194, 194, 194);
    border-radius: 20px;
    box-shadow: 5px 5px 3px #53649b;
}

.projetos {
    background-color: #3f465e;
    width: 200px;
    margin: auto;
    padding: 7px 7px 7px 7px;
    border-radius: 50%;
    border: solid white;
    box-shadow: 5px 5px 3px #53649b;
}

a.projeto {
    text-align: center;
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:rgb(110, 216, 181);
    background-color: #383a41;
    border-radius: 20px;
}

a.projeto:hover {
    opacity: 0.5;
    background-color: #3f465e;
}

#beecrowd {
    background-color: rgb(189, 189, 189);
    width:160px;
    margin: auto;
    border-radius: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: outset 7px;
    filter: drop-shadow(20px 4px 4px #11172b);
}
#ctts_span {
    position: relative;
    bottom: 8px;
}