body {
    background-image: linear-gradient(to left,#27304e,#121D40);
    font-size: 20pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1.nome {
    color: rgb(110, 216, 181);
    text-shadow: 3px 3px 3px rgb(64, 124, 104);
    text-align: center;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

h2.habilidade {
    font-size: 24pt;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: cornflowerblue;
    text-align: center;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: rgb(0, 255, 242);

}

ul.habilidade {
    font-size: 14pt;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: cornflowerblue;
    border: dotted whitesmoke;
    border-radius: 10px;
    margin: 0px 8px 8px 8px;
}

ul.contato {
    font-size: 20pt;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: cornflowerblue;
}

h2.contato {
    color: cornflowerblue;
    text-align: center;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: rgb(0, 255, 242);
}

.contatos {
    width: 395px;
    margin: auto;
    border: double white;
    border-radius: 40px;
    box-shadow: 5px 5px 3px rgb(77, 77, 77);
    background: transparent;
}

.habilidades {
    width: 395px;
    margin: auto;
    background-color: #3f465e;
    padding: 5px 2px 5px 5px;
    border: solid rgb(194, 194, 194);
    border-radius: 20px;
    box-shadow: 5px 5px 3px rgb(77, 77, 77);
}

.projetos {
    background-color: #3f465e;
    width: 200px;
    margin: auto;
    padding: 7px 7px 7px 7px;
    border-radius: 50%;
    border: solid white;
    box-shadow: 5px 5px 3px rgb(77, 77, 77);
}

a.projeto {
    text-align: center;
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:rgb(110, 216, 181);
    background-color: #383a41;
    border-radius: 20px;
}

a.projeto:hover {
    opacity: 0.5;
    background-color: #3f465e;
}