body {
    background-image: linear-gradient(to left,#27304e,#14214d);
    font-size: 16pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1.titulo {
    width: 280px;
    margin: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color: rgb(110, 216, 181);
    -webkit-text-stroke: 2px;
    -webkit-text-stroke-color: black;
    text-shadow: 3px 3px 2px rgb(47, 82, 70);
    border-radius: 50%;
    border: double rgb(90, 143, 125) 10px;
}

.projetos {
    width: 380px;
    margin: auto;
    text-align: center;
    background-color: #27304e;
    border: solid rgb(194, 194, 194);
    border-radius: 60px;
    box-shadow: 5px 5px 3px #53649b;
}

.a_projetos {
    color:cornflowerblue;
    padding: 10px 40px 10px 40px;
    background-color: rgb(61, 69, 104);
    border: outset 3px rgb(185, 185, 185);
    border-radius: 25px;
    box-shadow: 4px 4px 5px #131722;
}

.a_projetos:hover {
    border: solid white;
    background-color: rgb(48, 53, 73);
}

.a_voltar {
    color: rgb(110, 216, 181);
    background-color: rgb(69, 43, 94);
    font-size: 17pt;
    padding: 5px 5px 5px 5px;
    border: inset rgb(90, 143, 125);
    border-radius: 50%;
    text-indent: 50px;
    }

.a_voltar:hover {
    border: inset white;
}

