<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="shortcut icon" href="../img/favicon.png" type="image/x-icon">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contato</title>
    <link rel="stylesheet" href="../css/contato.css">
    <script type="text/javascript">
        window.onload = function() {
        (function(d, script) {
        script = d.createElement('script');
        script.type = 'text/javascript';
        script.async = true;
        script.src = 'https://w.app/widget-v1/NGfQPZ.js';
        d.getElementsByTagName('head')[0].appendChild(script);
        }(document));
        };
    </script>
</head>
<body>
    
    <header>

        <h1>Fale comigo</h1>

    </header>

    <nav>
        <a href="../index.html">Sobre</a>
        <a href="https://github.com/Vinijanini" target="_blank">Projetos</a>
        <a href="/view/contato.html" style="font-size: 1.1em;">Contato</a>
    </nav>

    <main>


        <h1>Contatos</h1>

        <div id="contatos">
            <ul>
                <li>
                    <img src="../img/linkedin.png">
                    <a href="www.linkedin.com/in/viniciusjanini">www.linkedin.com/in/viniciusjanini</a>
                </li>
                <li>
                    <img src="../img/email.png">
                    <a href="mailto:vinidovlog5@gmail.com">vinidovlog5@gmail.com</a>
                </li>
                <li>
                    <img src="../img/github.png">
                    <a href="https://github.com/Vinijanini" target="_blank">https://github.com/Vinijanini</a>
                </li>
            </ul>
        </div>

        <h2>Precida de algum software?<br>Entre em contato!</h2>

    </main>

    <footer>
        <p>Vamos conversar ?</p>
        <p>Clique no Botao do <span style=" text-shadow: 0.5px 1px 0.1px rgb(60, 89, 17); color: greenyellow;">whatssapp &rarr;</span></p>
    </footer>

</body>
</html>